extends layout

block content
  div.plain_background
    div.goods_text
      h2 Our pretty duds, baubles, and smellamagoodies
      div(style='width:290px;float:left;display:inline-block')
        p Johnny Was
        p CP Shades
        p April Cornell
        p Flax
        p Cut Loose
        p Muse

      div(style='width:290px;float:left;display:inline-block')
        p Color Me Cotton
        p Miraclebody
        p Ivy Jane
        p Aunt Wanda
        p Uncle Frank
        p True Grit

      div(style='width:580px;display:inline-block')
        h3 Plus
        p Cool shoes
        p Exquisite jewelry
        p Perfumes
        p Many accessories!

  div.facebook_outer
    div.facebook_link
      a(href='https://www.facebook.com/pages/Forget-Me-Not/82640158906',target='_blank') Visit us on Facebook
  footer Site by Purring Walrus Studios&trade;. Copyright 2014
