extends layout

block content
  div.plain_background
    div.goods_text
      h3 Our pretty duds, baubles, and smellamagoodies,
      p: u Footwear by:
      a(href='http://www.thefryecompany.com') Frye Boots
      p
      p: u Clothing by:
      a(href='http://www.freepeople.com') Free People
      | ~
      | RYU ~
      a(href='http://cmclick.com') Color Me Cotton
      | ~
