extends layout

block content
  div(class='background_image')
    div(class='compass', onclick="location.href='location'", style='cursor:pointer')
    div(class='lady', onclick="location.href='goods'", style='cursor:pointer')
    div(class='microscope', onclick="location.href='treats'", style='cursor:pointer')
  footer Site by Purring Walrus Studios&trade;. Copyright 2014
