extends layout

block content
  div#fb-root
  script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  div(class='background_image')
    div(class='compass', onclick="location.href='location'", style='cursor:pointer')
    div(class='lady', onclick="location.href='goods'", style='cursor:pointer')
    div(class='microscope', onclick="location.href='treats'", style='cursor:pointer')
    // div.like_button
      // div.fb-like-box(data-href='https://www.facebook.com/pages/Forget-Me-Not/82640158906',data-colorscheme='light',data-show-faces='false',
      // data-header='false',data-stream='false',data-show-borders='false',data-width='300')
  div.facebook_outer
    div.facebook_link
      a(href='https://www.facebook.com/pages/Forget-Me-Not/82640158906',target='_blank') Visit us on Facebook
  script(src='//static.getclicky.com/js',type='txt/javascript')
  script.
    try{
      clicky.init(100770161);
    }
    catch(e)
    {

    }
  noscript
    p
      img(alt='Clicky',width='1',height='1',src='//in.getclicky.com/100770161ns.gif')

  footer Site by Purring Walrus Studios&trade;. Copyright 2014
