/* - - - - - - - - - - - - - - - - - - - - -

Title : Wufoo Form Structure
URL : http://wufoo.com

- - - - - - - - - - - - - - - - - - - - - */
/*
html{
	background:#eee;
}

body{
	margin:17px 0 15px 0;
	padding:0;
	text-align:center;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
*/

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object, output {
	display: block;
}

#container{
	text-align:left;
	background:#e9e3da; /*#fff;*/
	border:1px solid #ccc;
	/*
	-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	*/
	border-width:2px;
	border-color:#999999;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow:0px 0px 14px #000000;
	-webkit-box-shadow:0px 0px 14px #000000;
	box-shadow:0px 0px 14px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	opacity:0.72;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=72);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity=72);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
	
}
#container, #bottom{
	margin:0 auto;
	width:640px;
}
/*
#bottom{
	width:650px;
	height:10px !important;
	margin-bottom:10px;
	display:block !important;
}
*/

form.wufoo{
	margin:20px 14px 0 14px;
	padding:0 0 20px 0;
	position:relative;
}

/* ----- LOGO ----- */

#logo{
	margin:0;
	padding:0;
	min-height:0;
	background-color:#dedede;
	text-indent:-9000px;
	text-decoration:none;
}
#logo a{
	min-height:40px;
	height:40px;
	display:block;
	background:url(../images/wflogo.png) no-repeat left top;
	overflow:hidden;
}
* html #logo a{
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop");
}
img, a img{
	border:none;
	-ms-interpolation-mode: bicubic;
}
* html #bottom{ 
	_behavior: url(../images/iepngfix.htc);
}
.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead{
	display:none !important;
}
.likert.cloak table{
	border:none;
}